################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Visual Project/.vs/Visual Project/v15/Browse.VC.opendb
/Visual Project/.vs/Visual Project/v15/Browse.VC.db
/Visual Project/.vs/Visual Project/v15/.suo
/Visual Project/Visual Project/Debug/Visual Project.tlog
